table
{
    border-collapse: collapse;
	border: 1px solid black;
	color: black;
}

td
{
    border: 1px solid black;
	min-width: 25px;
	background-color: white;
}

td.table_header
{
	background-color: #32CD32;
	font-weight: bold;
	text-align: center;
}

td.table_header-2, td.table_footer
{
	background-color: #90EE90;
	font-weight: bold;
	text-align: center;
}

td.table_header-3
{
	background-color: #98FB98;
	font-weight: bold;
	text-align: center;
}

td.first_row
{
	background-color: #98FB98;
}

td.menu_jp_po_tj
{
	max-width: 2px;
	margin: 0;
	padding: 0;
}

td.menu_jp_po_tj input
{
	text-align: center;
	margin: 0;
}

td.menu_nama input
{
   min-width: 240px; 
}

td.menu_jml input
{
   max-width: 30px; 
}

td.menu_tipe input
{
   max-width: 130px; 
}

td.menu_discount input
{
   max-width: 30px;
}

td.menu_discount
{
   min-width: 60px;
}

td.input_harga input
{
   max-width: 90px; 
}

input.changed
{
	background-color: #FDD;
}